.nav {
  display: flex;
  justify-content: space-between;
  background-color:  rgb(17, 17, 83);
  color: white;
  padding: 15px;
  font-size: 2em;
}

.nav a {
  color: white;
  text-decoration: none;
  
}


.results-container {
  width: 100px;
  height: 150px;
  text-align: center;
  background-color: #f6f6f6;
  margin: 10px;
  padding: 10px;
  display:flex;
  flex-wrap:wrap;
  justify-content:space-around;
}
.results-container img {
  width: 80px;
}