.nav {
  display: flex;
  justify-content: space-between;
  background-color:  rgb(17, 17, 83);
  color: white;
  padding: 15px;
  font-size: 2em;
}

.nav a {
  color: white;
  text-decoration: none;
  
}


.result-container {
  width: 100%;
  height: auto;
  text-align: center;
  background-color: #f6f6f6;
  margin: 10px;
  padding: 10px;
  display:flex;
  flex-wrap:wrap;
  justify-content:space-around;
}
.result-container img {
  width: 300px;
  /* width:calc(35% - 20px); */
  margin-bottom: 10px;
}

.text-container {
 width:300px;
}

.title {
 font-size: 1em;
}
.date {
  font-size: 0.8em;
 }